<div contenteditable="true" class="list-section-element">
    <div contenteditable="true" class="header">
        <div contenteditable="true" class="left-block">
            <div contenteditable="true" class="top">{%SECTION_HEADER_LEFT_TOP%}</div>
            <div contenteditable="true" class="sub">{%SECTION_HEADER_LEFT_BOTTOM%}</div>
        </div>
        <div contenteditable="true" class="right-block">
            <div contenteditable="true" class="top">{%SECTION_HEADER_RIGHT_TOP%}</div>
            <div contenteditable="true" class="sub">{%SECTION_HEADER_RIGHT_BOTTOM%}</div>
        </div>
    </div>
    <div contenteditable="true" class="description">
    {%SECTION_DESCRIPTION%}
    </div>
</div>
