<div class="list-section-element">
    <div class="header">
        <div class="left-block">
            <div class="top">{%SECTION_HEADER_LEFT_TOP%}</div>
            <div class="sub">{%SECTION_HEADER_LEFT_BOTTOM%}</div>
        </div>
        <div class="right-block">
            <div class="top">{%SECTION_HEADER_RIGHT_TOP%}</div>
            <div class="sub">{%SECTION_HEADER_RIGHT_BOTTOM%}</div>
        </div>
    </div>
    <div class="description">
    {%SECTION_DESCRIPTION%}
    </div>
</div>
